<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">
                <i class="fab fa-angular fa-lg fa-pulse"></i> Reactive Form App
            </h1>
            <p class="lead">Simple angular app to understand template and reactive forms; Deborah Kurata's reactive forms tutorial custom implementation.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" routerLink="/react/basic" role="button">
                    Basic Reactive Form
                </a>
            </p>
        </div>
    </div>
</div>