<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">
                <i class="fab fa-angular fa-lg text-danger"></i> Reactive Form App
            </h1>
            <p class="lead">Simple angular app to understand template and reactive forms; Deborah Kurata's reactive
                forms tutorial custom implementation.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Initial Setup
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" routerLink="/template">Template Forms</a>
                <a class="list-group-item list-group-item-action" routerLink="/react/basic">Basic</a>
                <a class="list-group-item list-group-item-action" routerLink="/react/builder">Builder</a>
                <a class="list-group-item list-group-item-action" routerLink="/react/spg">Set/Put/Get</a>                
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Validation
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" routerLink="/react/valid">Basic</a>
                <a class="list-group-item list-group-item-action" routerLink="/react/valid-dynamic">Validation (Dynamic)</a>
                <a class="list-group-item list-group-item-action" routerLink="/react/valid-custom">Validation (Custom)</a>
                <a class="list-group-item list-group-item-action" routerLink="/react/valid-cross">Validation (Cross Field)</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                React to Changes
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" routerLink="/react/change">Basic</a>
                <a class="list-group-item list-group-item-action" routerLink="/react/change-validate">Validations</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Dynamic Controls
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" routerLink="/react/array">Form Array</a>
            </div>
        </div>
    </div>
</div>