<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/template">Template Forms</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Reactive Forms</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
          
          <h6 class="dropdown-header">Initial Setup</h6>
          <a class="dropdown-item" routerLink="/react/basic">Basic</a>
          <a class="dropdown-item" routerLink="/react/spg">SPG</a>
          <a class="dropdown-item" routerLink="/react/builder">Builder</a>

          <div class="dropdown-divider"></div>

          <h6 class="dropdown-header">Validation</h6>
          <a class="dropdown-item" routerLink="/react/valid">Basic</a>
          <a class="dropdown-item" routerLink="/react/valid-dynamic">Validation (Dynamic)</a>
          <a class="dropdown-item" routerLink="/react/valid-custom">Validation (Custom)</a>
          <a class="dropdown-item" routerLink="/react/valid-cross">Validation (Cross Field)</a>

          <div class="dropdown-divider"></div>

          <h6 class="dropdown-header">React to Changes</h6>
          <a class="dropdown-item" routerLink="/react/change">Basic</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container mb-5">
  <router-outlet class="p-5"></router-outlet>
</div>