<div class="row">
  <div class="col">
      <h1>Template Driven</h1>
      <hr>
  </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <form novalidate
            (ngSubmit)="onSubmit(templateForm)"
            #templateForm="ngForm">

        <div class="form-group">
            <input type="text"
                  placeholder="First Name"
                  class="form-control"
                  name="firstName"
                  required
                  minlength="3"
                  maxlength="30"
                  [(ngModel)]="customer.firstName"
                  #firstNameVar="ngModel"
                  [ngClass]="{ 'is-invalid': (firstNameVar.touched || firstNameVar.dirty) && !firstNameVar.valid }">
            <span class="invalid-feedback">
              <span *ngIf="firstNameVar.errors?.required">First name is required</span>
              <span *ngIf="firstNameVar.errors?.minlength">At least 3 characters are required</span>
            </span>
        </div>

        <div class="form-group">
            <input type="text"
                  placeholder="Last Name"
                  class="form-control"
                  name="lastName"
                  required
                  minlength="3"
                  maxlength="30"
                  [(ngModel)]="customer.lastName"
                  #lastNameVar="ngModel"
                  [ngClass]="{ 'is-invalid': (lastNameVar.touched || lastNameVar.dirty) && !lastNameVar.valid }">
            <span class="invalid-feedback">
              <span *ngIf="lastNameVar.errors?.required">Last name is required</span>
              <span *ngIf="lastNameVar.errors?.minlength">At least 3 characters are required</span>
            </span>
        </div>

        <div class="form-group">
            <select class="form-control"
                  name="gender"
                  required
                  [(ngModel)]="customer.gender"
                  #genderVar="ngModel"
                  [ngClass]="{ 'is-invalid': (genderVar.touched || genderVar.dirty) && !genderVar.valid }">
              <option value="" selected="selected" disabled>Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <span class="invalid-feedback">
              <span *ngIf="genderVar.errors?.required">Gender is required</span>              
            </span>
        </div>

        <div class="form-group">
            <input type="date"                  
                  class="form-control"                  
                  name="dob"
                  required                  
                  [(ngModel)]="customer.dob"
                  #dobVar="ngModel"
                  [ngClass]="{ 'is-invalid': (dobVar.touched || dobVar.dirty) && !dobVar.valid }">
            <span class="invalid-feedback">
              <span *ngIf="dobVar.errors?.required">DOB is required</span>              
            </span>
        </div>

        <div class="form-group">
            <input type="text"
                  placeholder="Mobile"
                  class="form-control"
                  name="mobile"
                  required
                  minlength="10"
                  maxlength="10"
                  [(ngModel)]="customer.mobile"
                  #mobileVar="ngModel"
                  [ngClass]="{ 'is-invalid': (mobileVar.touched || mobileVar.dirty) && !mobileVar.valid }">
            <span class="invalid-feedback">
              <span *ngIf="mobileVar.errors?.required">Mobile is required</span>
              <span *ngIf="mobileVar.errors?.minlength">At least 10 digits are required</span>
            </span>
        </div>

        <div class="form-group">
            <input type="email"
                  placeholder="Email"
                  class="form-control"
                  name="email"
                  required
                  email
                  [(ngModel)]="customer.email"
                  #emailVar="ngModel"
                  [ngClass]="{ 'is-invalid': (emailVar.touched || emailVar.dirty) && !emailVar.valid }">
            <span class="invalid-feedback">
              <span *ngIf="emailVar.errors?.required">Email is required</span>
              <span *ngIf="emailVar.errors?.email">Email ID is invalid</span>
            </span>
        </div>
        
        <div class="form-group">
            <input type="file" 
                  class="form-control"
                  name="image"
                  required
                  accept="image/*" 
                  multiple="multiple"
                  [(ngModel)]="customer.image"
                  #imageVar="ngModel"
                  [ngClass]="{ 'is-invalid': (imageVar.touched || imageVar.dirty) && !imageVar.valid }"
                  (change)="fileHelper.getFile($event.target)">
            <span class="invalid-feedback">
              <span *ngIf="imageVar.errors?.required">Image is required</span>
            </span>
        </div>

        <div class="form-group">
          <label class="form-check-label">
              <input type="radio"
                    class="form-check-input"
                    name="job"
                    value="Student"
                    [(ngModel)]="customer.job"> Student
          </label>
          <label class="form-check-label">
              <input type="radio"
                class="form-check-input"
                name="job"
                value="Employee"
                [(ngModel)]="customer.job"> Employee
          </label>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
        </div>

      </form>
      
    </div>
    <div class="col-sm-6">
      {{ templateForm.value | json }}
    </div>
  </div>